name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - "server/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build with Gradle
        run: |
          cd server
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Debug Build Output
        run: ls -la server/build/libs/

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packaged-application
          path: server/build/libs/gear-api-0.0.1-SNAPSHOT.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: packaged-application
          path: ./

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: Gear Fitness
          environment_name: gear-fitness-env
          version_label: ${{ github.SHA }}
          region: us-west-2
          deployment_package: gear-api-0.0.1-SNAPSHOT.jar
